.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  color: $white;
  z-index: 100;
  @include ease;

  &__button {
    color: $white;
    border-bottom: 1px solid $white;

    &:hover {
      color: $red;
      border-color: $red;
    }

    @include r(768) {
      display: inline-block;
      margin: 15px auto 0;
    }
  }

  &__tel {
    color: $white;
  }
  
  &__content {
    @include ease-in-out;

    @include r(1200) {
      position: absolute;
      width: 100%;
      left: 100%;
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      background-color: #222426eb;
    }

    @include r(768) {
      height: calc(100vh - 92px);
      overflow-y: scroll;
      @include scroll;
    }
  }
}

.header-points {
  @include r(1365) {
    display: none;
  }

  @include r(1200) {
    display: block;
  }
}

@media (min-width: 1365px) {
  .header-bottom-column {
    margin-left: 8.33333%;
  }
}

.header-bottom-column {
  @include r(1365) {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  @include r(1365) {
    flex: auto;
    max-width: unset;
  }
}



.header-top {
  padding-top: 19px;
  padding-bottom: 19px;
  border-bottom: 1px solid $darkGrey;

  @include r(1200) {
    order: 2;
    border-top: 1px solid $darkGrey;
    border-bottom: none;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.header-clocks {
  @include r(768) {
    div {
      text-align: left !important;
    }
  }
}

.header-bottom {
  @include r(1200) {
    order: 1;
  }

  @include r(768) {
    padding: 15px 0;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: 4.8rem;
  padding-left: 3.875rem;

  @include r(1540) {
    padding-left: 0;
    margin-right: 2rem;
  }

  @include r(768) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__button {
    padding-left: 15px;
    display: none;

    @include r(768) {
      display: inline-block;
    }

    svg {
      @include ease;
    }
  }

  &__link {
    color: $white;
    padding-top: 16px;
    padding-bottom: 16px;
    display: inline-block;

    @include r(768) {
      font-size: 1.3625rem;
      font-family: $font-Bold;
      text-decoration: underline;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &::before {
      position: absolute;
      content: '';
      width: calc(100% + 10px);
      height: 4px;
      top: -2px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $red;
      opacity: 0;
    }

    &-wrapper {
      position: relative;

      @include r(768) {
        width: 100%;

        &.active {
          .header-nav__button svg {
            transform: scaleY(-1);
          }
        }
      }

      &:not(:last-child) {
        margin-right: 2.5rem;

        @include r(768) {
          margin-right: 0;
        }
      }

      &:hover {
        .header-nav__dropdown {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    &--here {
      &::before {
        opacity: 1;

        @include r(768) {
          display: none;
        }
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $dark;
    width: 500px;
    height: 370px;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5px);
    @include ease;

    &--short {
      width: 170px;
      height: auto;
    }

    @include r(768) {
      position: relative;
      top: auto;
      left: auto;
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      background-color: $tr;
      width: 100%;
      height: auto;
      padding: 0;
      display: none;
    }

    &-in {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 15px;

      @include r(768) {
        gap: 5px;
        flex-wrap: nowrap;
      }
    }

    &-link {
      display: block;
      color: $white;
      margin-bottom: 10px;
    }
  }
}

.header-search {
  position: relative;

  @include r(1200) {
    display: none;
  }

  @include r(768) {
    width: 100%;
    margin-bottom: 15px;
  }

  &__input {
    color: $white !important;
    min-width: 290px;
    padding: 5px 5px 5px 35px;
    border: 1px solid $darkGrey;
    border-radius: 5px;

    @include r(768) {
      width: 100%;
    }

    &::placeholder {
      color: $white !important;
    }

    &:focus, &:active {
      border-color: $red;
    }
  }

  svg {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.header-logo {
  display: inline-block;
  &__icon {
    width: 83px;
    height: 62px;
  }
}

.burger {
  position: relative;
  opacity: 1 !important;
  visibility: visible !important;

  &-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include ease-in-out;

    &--2 {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
    }
  }

  &.active {
    .burger-icon {
      &--1 {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
      }

      &--2 {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.header-mobile {
  padding: 15px 0;
  display: none;

  @include r(1200) {
    display: block;
  }

  &__button {
    width: 32px;
    height: 32px;
    @include flex-center;

    svg {
      @include ease;
    }

    &.active {
      svg {
        fill: $red;
      }
    }

    &:not(:last-child) {
      margin-right: 3.75rem;

      @include r(768) {
        margin-right: 2.5rem;
      }
    }
  }
}

.sticky .header {
  background-color: #222426f0;
}

.menu-open .header {
  background-color: #222426f0 !important;

  .header__content {
    opacity: 1;
    left: 0;
    visibility: visible;
    transform: translateY(0);
  }
}