.map {
  position: relative;
  &-info {
    position: relative;
    padding: 60px 60px 60px 0;
    @include r(1200) {
      padding: 50px 0;
    }

    @include r(768) {
      padding: 40px 0;
    }

    & > * {
      position: relative;
    }

    &::before {
      @include ovl;
      background-color: $white;
      width: calc(100% + 60px);
      right: 0;
      left: auto;
    }
  }

  &-in {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    @include r(1200) {
      position: relative;
      height: 400px;
    }
  }
}

.map-no-info {
  .container {
    display: none;
  }
  .map-in {
    position: relative;
    height: 504px;

    @include r(1200) {
      height: 400px;
    }
  }
}