<section class="categories">
    <div class="container">
        <div class="categories-grid">
            <div class="categories-item" data-bg="{{root}}assets/img/category-bg-1.jpg">
                <div class="categories-item__in">
                    <a class="categories-item__title" href="#">
                        <span>Черный лом</span>
                        <svg>
                            <use xlink:href="#angle-right"></use>
                        </svg>
                    </a>
                    <div class="categories-list">
                        <a class="categories-list__item" href="#">Листовой лом</a>
                        <a class="categories-list__item" href="#">Металлические конструкции</a>
                        <a class="categories-list__item" href="#">Металлическая стружка</a>
                        <a class="categories-list__item" href="#">Чугун</a>
                    </div>
                </div>
            </div>
            <div class="categories-item" data-bg="{{root}}assets/img/category-bg-2.jpg">
                <div class="categories-item__in">
                    <a class="categories-item__title" href="#">
                        <span>Цветной лом</span>
                        <svg>
                            <use xlink:href="#angle-right"></use>
                        </svg>
                    </a>
                    <div class="categories-list">
                        <a class="categories-list__item" href="#">Листовой лом</a>
                        <a class="categories-list__item" href="#">Металлические конструкции</a>
                        <a class="categories-list__item" href="#">Металлическая стружка</a>
                        <a class="categories-list__item" href="#">Чугун</a>
                        <a class="categories-list__item" href="#">Металлическая стружка</a>
                        <a class="categories-list__item" href="#">Чугун</a>
                    </div>
                </div>
            </div>
            <div class="categories-item" data-bg="{{root}}assets/img/category-bg-1.jpg">
                <div class="categories-item__in">
                    <a class="categories-item__title" href="#">
                        <span>Стальной лом </span>
                        <svg>
                            <use xlink:href="#angle-right"></use>
                        </svg>
                    </a>
                    <div class="categories-list">
                        <a class="categories-list__item" href="#">Трансорфматорная сталь</a>
                        <a class="categories-list__item" href="#">Оцинкованая сталь</a>
                    </div>
                </div>
            </div>
            <div class="categories-item" data-bg="{{root}}assets/img/category-bg-2.jpg">
                <div class="categories-item__in">
                    <a class="categories-item__title" href="#">
                        <span>Деловой лом</span>
                        <svg>
                            <use xlink:href="#angle-right"></use>
                        </svg>
                    </a>
                    <div class="categories-list">
                        <a class="categories-list__item" href="#">Трансорфматорная сталь</a>
                        <a class="categories-list__item" href="#">Трансорфматорная сталь</a>
                        <a class="categories-list__item" href="#">Оцинкованая сталь</a>
                    </div>
                </div>
            </div>
            <div class="categories-item" data-bg="{{root}}assets/img/category-bg-1.jpg">
                <div class="categories-item__in">
                    <a class="categories-item__title" href="#">
                        <span>Рециклинг и утилизация</span>
                        <svg>
                            <use xlink:href="#angle-right"></use>
                        </svg>
                    </a>
                    <div class="categories-list">
                        <a class="categories-list__item" href="#">Листовой лом</a>
                        <a class="categories-list__item" href="#">Металлические конструкции</a>
                        <a class="categories-list__item" href="#">Металлическая стружка</a>
                        <a class="categories-list__item" href="#">Чугун</a>
                    </div>
                </div>
            </div>
            <div class="categories-item" data-bg="{{root}}assets/img/category-bg-2.jpg">
                <div class="categories-item__in">
                    <a class="categories-item__title" href="#">
                        <span>Демонтаж</span>
                        <svg>
                            <use xlink:href="#angle-right"></use>
                        </svg>
                    </a>
                    <div class="categories-list">
                        <a class="categories-list__item" href="#">Листовой лом</a>
                        <a class="categories-list__item" href="#">Металлические конструкции</a>
                        <a class="categories-list__item" href="#">Металлическая стружка</a>
                        <a class="categories-list__item" href="#">Чугун</a>
                        <a class="categories-list__item" href="#">Металлическая стружка</a>
                        <a class="categories-list__item" href="#">Чугун</a>
                    </div>
                </div>
            </div>
            <div class="categories-item" data-bg="{{root}}assets/img/category-bg-1.jpg">
                <div class="categories-item__in">
                    <a class="categories-item__title" href="#">
                        <span>Вывоз лома</span>
                        <svg>
                            <use xlink:href="#angle-right"></use>
                        </svg>
                    </a>
                    <div class="categories-list">
                        <a class="categories-list__item" href="#">Трансорфматорная сталь</a>
                        <a class="categories-list__item" href="#">Оцинкованая сталь</a>
                    </div>
                </div>
            </div>
            <div class="categories-item" data-bg="{{root}}assets/img/category-bg-2.jpg">
                <div class="categories-item__in">
                    <a class="categories-item__title" href="#">
                        <span>Пункты приёма</span>
                        <svg>
                            <use xlink:href="#angle-right"></use>
                        </svg>
                    </a>
                    <div class="categories-list">
                        <a class="categories-list__item" href="#">Трансорфматорная сталь</a>
                        <a class="categories-list__item" href="#">Трансорфматорная сталь</a>
                        <a class="categories-list__item" href="#">Оцинкованая сталь</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>