<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-4 mb-md-0">
                    <div class="footer-row">
                        <a class="footer-logo" href="#">
                            <svg width="111" height="83">
                                <use xlink:href="#logo-white"></use>
                            </svg>
                        </a>
                        <div class="footer-col font-14 d-none d-md-flex">
                            <a class="mb-2 mb-xl-3" href="#">Черный лом</a>
                            <a class="mb-2 mb-xl-3" href="#">Цветной лом</a>
                            <a class="mb-2 mb-xl-3" href="#">Стальной лом</a>
                            <a class="mb-2 mb-xl-3" href="#">Деловой лом</a>
                        </div>
                        <div class="footer-col font-14 d-none d-md-flex">
                            <a class="mb-2 mb-xl-3" href="#">Рециклинг и утилизация</a>
                            <a class="mb-2 mb-xl-3" href="#">Демонтаж</a>
                            <a class="mb-2 mb-xl-3" href="#">Вывоз лома</a>
                            <a class="mb-2 mb-xl-3" href="#">Пункты приёма</a>
                        </div>
                        <div class="footer-col font-Bold d-none d-md-flex">
                            <a class="mb-2 mb-xl-3" href="#">Услуги</a>
                            <a class="mb-2 mb-xl-3" href="#">Прайс</a>
                        </div>
                        <div class="footer-col font-Bold d-none d-md-flex">
                            <a class="mb-2 mb-xl-3" href="#">О компании</a>
                            <a class="mb-2 mb-xl-3" href="#">Контакты</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-row">
                        <div class="footer-col">
                            <a class="font-Bold mb-2 mb-xl-3" href="tel:8 (863) 333-53-05">8 (863) 333-53-05</a>
                            <p class="font-14 lh-16">ООО «АКРОН ЮГ» <br>
                                344022, Ростовская обл., <br>
                                г. Ростов-на-Дону, <br>
                                ул. 1-я Луговая, 42Я</p>
                        </div>
                        <div class="footer-col">
                            <a class="font-Bold mb-2 mb-xl-3" href="mailto:au@akron-holding.ru">au@akron-holding.ru</a>
                            <p class="font-14 lh-16">ИНН 6150066820 <br>
                                КПП 616201001 <br>
                                ОГРН 1116183001780</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <span class="footer-copy font-14">© ООО «АКРОН ЮГ» 2022</span>
            <div class="row">
                <div class="col-xl-4 offset-xl-8">
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="akt d-flex align-items-center" href="https://akticom.ru/" target="_blank">
                            <span class="mr-3 mr-xl-4">Сделано руками</span>
                            <svg class="akt-icon" width="141" height="30">
                                <use xlink:href="#akt"></use>
                            </svg>
                        </a>
                        <button class="footer-button js-to-top">
                            <svg width="15" height="23">
                                <use xlink:href="#arrow-top"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>