<section class="is section--inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 mb-5 mb-xl-0">
                <div class="section__title">Акрон Юг — это</div>
                <div class="is-list">
                    <div class="is-item">
                        <div class="is-item__icon">
                            <svg width="18" height="22">
                                <use xlink:href="#is-1"></use>
                            </svg>
                        </div>
                        <div>Лицензированная компания: лицензии на заготовку, хранение и реализацию лома черных и цветных металлов,  а также на утилизацию (сбор, обработка и транспортирование отходов)</div>
                    </div>
                    <div class="is-item">
                        <div class="is-item__icon">
                            <svg width="17" height="19">
                                <use xlink:href="#is-2"></use>
                            </svg>
                        </div>
                        <div>Законность сделок - работаем официально по договору</div>
                    </div>
                    <div class="is-item">
                        <div class="is-item__icon">
                            <svg width="23" height="23">
                                <use xlink:href="#is-3"></use>
                            </svg>
                        </div>
                        <div>Предоставляем полный пакет документов после сделки - всю необходимую первичную документацию и сопроводительные документы (приемосдаточный акт, спецификация и пр.)</div>
                    </div>
                    <div class="is-item">
                        <div class="is-item__icon">
                            <svg width="21" height="21">
                                <use xlink:href="#is-4"></use>
                            </svg>
                        </div>
                        <div>Более 5000 тонн вывозим ежемесячно. Свои бригады резчиков и демонтажников, в штате 60 человек. Соблюдение все норм и требований по технике безопасности.</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1">
                <div class="section__title">гарантии</div>
                <p>Главная наша ценность – это репутация. Обращаясь к нам, Вы можете быть уверены, что вас не обманут.  Мы строим долгосрочные отношения с нашими клиентами. Выбрав нас однажды, Вы более не захотите искать другое предприятие. Гарантируем своевременное исполнение взятых на себя обязательств, акций и спецпредложений!</p>
                <p>Если Вас не устроило качество обслуживания при приемке или же возникли другие трудности, которые помешали вам сдать лом в нашей компании, сообщите нам!</p>
                <button class="button button--secondary mt-3 mt-xl-4" data-src="#popup--call" data-fancybox>
                    <span>сообщить о проблеме</span>
                    <svg>
                        <use xlink:href="#angle-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>