<section class="map" id="map">
    <div class="map-in" id="ymap"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="map-info">
                    <div class="section__title">пункты приёма</div>
                    <p class="mb-2 mb-xl-4">У нас всегда честные и актуальные цены, и как правило выше рыночных.
                        Для сравнения: медь в Новосибирске стоит 550 руб/кг. Мы дадим больше!
                        Осуществляем скупку по всем районам.  Большое количество пунктов.
                        Взвешиваем на точных, опломбированных электронных весах.</p>
                    <div class="mb-2 mb-xl-3">г. Ростов-на-Дону, ул. 1-я Луговая, 42Я <br>
                        <a class="font-Bold" href="tel:8 (863) 333-53-05">8 (863) 333-53-05</a></div>

                    <div class="mb-2 mb-xl-3">г. Новошахтинск, ул. Харьковская, 4 <br>
                        <a class="font-Bold" href="tel:8 (863) 333-53-05">8 (863) 333-53-05</a></div>

                    <div class="mb-3 mb-xl-5">г. Волгодонск, ул. Волгодонская, 2в <br>
                        <a class="font-Bold" href="tel:8 (863) 333-53-05">8 (863) 333-53-05</a></div>

                    <button class="button button--secondary" data-src="#popup--call" data-fancybox>
                        <span>заказать звонок</span>
                        <svg>
                            <use xlink:href="#angle-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>