<div id="popup--call" style="display: none">
    <div class="popup__wrapper">
        <div class="popup__container">
            <div class="tac">
                <div class="title-h2 mb-2 mb-md-2">Заказать обратный звонок</div>
                <div class="popup__subtitle mb-2 mb-md-3">Заполните поля и наш оператор свяжется с вами в&nbsp;ближайшее время</div>
            </div>
            <form class="popup__fields d-flex flex-column align-items-center">
                <input class="mb-3" type="text" placeholder="ФИО*" required>
                <input class="mb-3" type="tel" placeholder="Телефон*" required>
                <input class="mb-4" type="email" placeholder="E-mail">
                <button type="submit" class="button button--primary mb-3">Отправить</button>
                <div class="tac">Отправляя форму, Вы соглашаетесь с условиями <a href="#" class="link">политики конфиденциальности</a></div>
            </form>
        </div>
    </div>
</div>