<div class="section__title mb-2 mb-md-3">прайс-лист</div>
<div class="font-14 color-darkGrey mb-3 mb-md-5">Прайс от 23.03.2020 09:00</div>
<div class="tabs mb-3 mb-xl-4">
    <div class="tabs-list tabs-top">
        <div class="tabs-list tabs--main">
            <div class="tab-item js-tab--main active" data-main="1">Физ. лицам</div>
            <div class="tab-item js-tab--main" data-main="2">Юр. лицам</div>
        </div>
        <div class="tabs-list tabs--add">
            <div class="tab-item js-tab--add active" data-add="1">Чёрный лом</div>
            <div class="tab-item js-tab--add" data-add="2">Цветной лом</div>
        </div>
    </div>
    <div class="tabs-content">
        <!-- физ -->
        <div class="tabs-content-item tabs-content-item--main js-tabs-content-main" data-main="1">
            <!-- черный -->
            <div class="tabs-content-item tabs-content-item--add js-tabs-content-add" data-add="1">
                <div class="price-table__wrapper">
                    <div class="price-table">
                        <div class="price-table__header">
                            <div>Вид лома</div>
                            <div>Засор, %</div>
                            <div>Цена за кг. (нал/безнал)</div>
                        </div>
                        <div class="price-table__body">
                            <div class="price-table__row">
                                <div>3А</div>
                                <div>от 3 %</div>
                                <div>12900/13500 ₽</div>
                            </div>
                        </div>
                        <div class="price-table__description">
                            Состав: Данная категория включает в себя габаритный лом. <br>
                            Описание: Лом черных металлов. Размеры куска не более 1500 х 500 х 500 мм. Не допускаются огнетушители и другие закрытые емкости.
                        </div>
                        <div class="price-table__body">
                            <div class="price-table__row">
                                <div>5А; 12А</div>
                                <div>от 3 %</div>
                                <div>12900/13500 ₽</div>
                            </div>
                        </div>
                        <div class="price-table__description">
                            Лом черного металла 5 А включает в себя стальные составляющие промышленного оборудования, части механизмов и агрегатов. Лом черного металла 12 А - это стальной лом малой толщины (менее 4 мм) , включает в себя листовые и полосовые отходы, тонкостенные трубы, профлист.
                            Описание: К металлолому категории 5 А относится негабаритный лом размерами более 1500 х 500 х 500 мм. Минимально требуемая толщина металла составляет от 4 мм. Не допускаются огнетушители и другие закрытые емкости. К металлолому категории 12 А относится лом с нерегламентированными размерами, толщиной менее 4 мм.
                        </div>
                    </div>
                </div>
            </div>
            <!-- / черный -->
            <!-- цветной -->
            <div class="tabs-content-item tabs-content-item--add js-tabs-content-add" data-add="2">
                <div class="price-table__wrapper">
                    <div class="price-table">
                        <div class="price-table__header">
                            <div>Вид лома</div>
                            <div>Засор, %</div>
                            <div>Цена за кг. (нал/безнал)</div>
                        </div>
                        <div class="price-table__body">
                            <div class="price-table__row">
                                <div>Медь</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Медь, колонка газовая</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Латунь</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Радиаторы медно-латунные</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Медь 1 сорт</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Медь 2 сорт</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Медь 3 сорт</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Медь луженая</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Алюминий электротехнический, шина</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Алюминий пищевой</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Алюминиевый профиль, АД-31</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Алюминий моторный</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Алюминий разносортный</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Алюминиевые радиаторы</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Алюминиевая банка</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Магний</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Нержавеющая сталь</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Свинец (кабельный, переплав)</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Цинк автомобильный</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Цинк сантехнический</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Медная стружка</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Латунная/бронзовая стружка</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Бронза</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Нержавеющая сталь Б26</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Нержавеющая сталь Б27 (8%)</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Нержавеющая сталь Б28</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>ЦАМ 1, 2 сорт</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>ЦАМ 3 сорт</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- черный -->
        </div>
        <!-- / физ -->

        <!-- юр -->
        <div class="tabs-content-item tabs-content-item--main js-tabs-content-main" data-main="2">
            <!-- черный -->
            <div class="tabs-content-item tabs-content-item--add js-tabs-content-add" data-add="1">
                <div class="price-table__wrapper">
                    <div class="price-table">
                        <div class="price-table__header">
                            <div>Вид лома</div>
                            <div>Засор, %</div>
                            <div>Цена за кг. (нал/безнал)</div>
                        </div>
                        <div class="price-table__body">
                            <div class="price-table__row">
                                <div>3А</div>
                                <div>от 3 %</div>
                                <div>12900/13500 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>3А</div>
                                <div>от 3 %</div>
                                <div>12900/13500 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>3А</div>
                                <div>от 3 %</div>
                                <div>12900/13500 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>3А</div>
                                <div>от 3 %</div>
                                <div>12900/13500 ₽</div>
                            </div>
                        </div>
                        <div class="price-table__description">
                            Состав: Данная категория включает в себя габаритный лом. <br>
                            Описание: Лом черных металлов. Размеры куска не более 1500 х 500 х 500 мм. Не допускаются огнетушители и другие закрытые емкости.
                        </div>
                        <div class="price-table__body">
                            <div class="price-table__row">
                                <div>3А</div>
                                <div>от 3 %</div>
                                <div>12900/13500 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>3А</div>
                                <div>от 3 %</div>
                                <div>12900/13500 ₽</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / черный -->
            <!-- цветной -->
            <div class="tabs-content-item tabs-content-item--add js-tabs-content-add" data-add="2">
                <div class="price-table__wrapper">
                    <div class="price-table">
                        <div class="price-table__header">
                            <div>Вид лома</div>
                            <div>Засор, %</div>
                            <div>Цена за кг. (нал/безнал)</div>
                        </div>

                        <div class="price-table__body">
                            <div class="price-table__row">
                                <div>Медь</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Медь, колонка газовая</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Латунь</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Радиаторы медно-латунные</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Медь 1 сорт</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Медь 2 сорт</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Медь 3 сорт</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Медь луженая</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Алюминий электротехнический, шина</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>Алюминий пищевой</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                            <div class="price-table__row">
                                <div>ЦАМ 3 сорт</div>
                                <div>от 3%</div>
                                <div>345/352 ₽</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- черный -->
        </div>
        <!-- / юр -->
    </div>
</div>