<div class="col-xl-5 offset-xl-1">
    <div class="reasons">
        <div class="section__title reasons-section__title">
            <span>5</span>
            <div>причин <br>
                выбрать нас</div>
        </div>
        <ol>
            <li>Индивидуальный подход, если выезжаем на демонтаж, то все расходы по резке, погрузке металлоконструкций мы берем на себя</li>
            <li>Бесплатный выезд специалиста для оценки любых объемов</li>
            <li>Нам дороги наши постоянные клиенты, поэтому мы гарантируем точность определения вида металла, точность взвешивая и честность расчетов</li>
            <li>Принимаем любой объем вторсырья от 1 кг, как от физических, так и от юридических лиц. Любая форма оплаты</li>
            <li>В наличии свой автопарк транспорта и спецтехники: автопарк газели, валдаи и ломовы. Это позволяет нам оказывать услугу за минимальные сроки.</li>
        </ol>
    </div>
</div>